@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Cormorant";
    src: url("fonts/Cormorant-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Cormorant";
    src: url("fonts/Cormorant-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

body, html{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans";
    background-color: #1D2F30;
}

.container{
    width: 1110px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.headernav{
    background-color: #1D2F30;
}

.flexcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topmenu{
    flex-grow: 1;
    margin: 0 93px;
}

.topmenu>ul{
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding-left: 0;
}

.topmenu li{
    margin: 0 32px;
}

.topmenu li:first-child{
    margin-left: 0;
}

.topmenu a{
    color:white;
    transition: 0.3s;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 7px;
}
.topmenu a:hover{
    color: #BAE249;
}

.topmenu a:focus{
    outline: solid 1px #83A440;
}

.topmenu a:active{
    color: #688B05;
}

.control a{
    text-decoration: none;
}

.search{
    margin-right: 64px;
}

.control{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.control_button{
      display: block;
      padding: 5px;
      width: 28px;
      height: 28px;

}

.control_button>svg>path{
     transition: 0.3s;
}

.control_button:hover>svg>path{
    stroke: #91AC46;
}

.control_button:focus{
    outline: solid 1px #83A440;
}

.control_button:active{
    stroke: #688B05;
}

header{
    background-image: url(images/1_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner{
    height: 490px;
    background-color: rgba(29,47,48,0.7);
}

.main_title{
    margin: 115px 0 16px 0;
    color: white;
    font-size: 60px;
    line-height: 100%;
    font-weight: 700;
    font-family: Cormorant;
    width: 688px;
}

.description{
    color: white;
    width: 635px;
    line-height: 150%;
    margin-bottom: 24px;
}

.invent{
    color: #BAE249;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 100%;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
    padding: 2px 7px;
    width: fit-content;
    margin-left: -7px;
}

.invent:hover{
    color: #91AC46;
    
}

.invent>svg{
    transition: 0.3s;
}

.invent:hover>svg{
    transform: translate(5px, 0) scale(1.25, 1)
}

.invent>svg>path{
    transition: 0.3s;
}

.invent:hover>svg>path{
    fill: #91AC46;
}

.invent:focus{
    outline: solid 1px #83A440;
}

.invent:active{
    color:#688B05;
}

.invent:active>svg>path{
    fill:#688B05;
}

.invent.unactive{
    color:#899D9D;
}

.invent.unactive>svg>path{
    fill: #899D9D;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 60px 0 26px 0;
}

.card{
    border: 1px solid #0B1919;
    display: flex;
    flex-direction: column;
}

.card_image_wrapper{
    background-color: #0B1919;
    flex-shrink: 0;
    padding: 30px 16px;
    position: relative;
}

.card_title{
    font-family: Cormorant, serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    color: white;
    margin: 16px 16px 8px 16px;
    flex-shrink: 0;
}

.card_discription{
    color: #899D9D;
    margin: 0 16px 16px 16px;
    flex-grow: 1;
}

.card_link{
    text-decoration: none;
    color: #BAE249;
    border: 1px solid #BAE249;
    width: fit-content;
    padding: 11px 29px;
    line-height: 150%;
    font-size: 16px;
    margin: 0 16px 24px 16px;
    transition: 0.3s;
}

.card_link:hover{
    background-color: #BAE249;
    color: #0B1919;
}

.something{
    color: #899D9D;
    font-family: "Cormorant", sans-serif;
    font-weight: bold;
    border: solid 1px #899D9D;
    border-radius: 50%;
    position: absolute;
    top: 16px;
    left: 16px;
    width: 24px;
    height: 24px;
    font-size: 16px;
    text-align: center;
}

.scroll{
    margin: 0 auto;
    width: fit-content;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.scroll_span{
    color: white;
    font-family: "Cormorant", sans-serif;
    font-size: 24px;
    line-height: 1.5;
    margin: 0 30px 0 30px;
}

.scroll_link{
    text-decoration: none;
    display: flex;
    align-items: center;

}

.scroll_link path{
    transition: 0.3s;
}

.scroll_link svg{
    transition: 0.3s;
}

.scroll_link:hover path{
    fill: #BAE249;
}

.scroll_link:hover svg{
     transform: scale(1.25, 1)
}

.scroll_link:focus{
    outline: solid 1px #83A440;
}

.scroll_link:active path{
     fill: #688B05;
}

.scroll_left:hover svg{
    transform: translate(-2px, 0)
}

.scroll_right:hover svg{
    transform: translate(2px, 0);
}

.SectionTitle{
    font-family: "Cormorant", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 48px;
    color: white;
}

.artefacts{
    display: flex;
    gap: 19px;
    height: 493px;
}

.artleft{
    background-color: #0B1919;
    width: 825px;
    flex-shrink: 0;
    position: relative;

}

.artright{
    background-color: #BAE249;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.artright>h3{
    font-family: "Cormorant", sans-serif;
    font-weight: 700;
    color: #1D2F30;
    font-size: 24px;
    line-height: 150%;
    margin: 0;
}

.description2_0{
    color: #506829;
    font-size: 16px;
    line-height: 150%;
    flex-grow: 1;
}

.DesLink{
    text-decoration: none;
    color: #0B1919;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
    width: fit-content;
}

.DesLink:hover{
    color: #688B05;
}

.DesLink:hover path{
    fill: #688B05;
}

.DesLink path{
    transition: 0.3s;
}

.DesLink:hover>svg{
    transform: scaleX(120%) translateX(5px);
}

.DesLink>svg{
    transition: 0.3s;
}

.DesLink:active{
    color: #0B1919;
}

.DesLink:active path{
    fill: #0B1919;
}

.DesLink:focus{
    outline: solid 1px #83A440;
}

.artleftimg{
    position: absolute;
}